.Item-card-wrapper {
    width: 260px; /* Ancho fijo de 4 cm */
    height: 260px; /* Altura automática para mantener la proporción */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para la card */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Esconder contenido que se desborde */
    background-color: #fff; /* Fondo blanco */
}

.Item-card-wrapper img{
    object-fit: cover;
    width: 230px;
    height: 210px;
}