.Register-form-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Overlay semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
  
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    margin: auto;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
  }
  
  input, select {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    transition: border-bottom-color 0.3s ease;
  }

  
  
  input:focus, select:focus {
    border-bottom-color: #007bff;
  }
  
  input::placeholder {
    color: #999;
    font-style: italic;
  }
  
  select {
    background-color: transparent;
    border-bottom: 2px solid #ccc;
    cursor: pointer;
  }
  
  select:focus {
    border-bottom-color: #007bff;
  }
  