#root {
  max-width: 100vw;
  overflow: hidden;
  display: inline;
  font-family: 'Exo 2';
  background-image: linear-gradient(to top, #ce92f6, #cd90f3, #cc8df0, #cb8bee, #ca89eb, #cb8bea, #cc8eea, #cd90e9, #d097ea, #d49fec, #d7a6ed, #daadee);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.items-section {
  display: flex ;
  
}